<!-- <div class="form-class">
    <form action="/accounts/validate-login" method="POST" id="form-input">
        <div class="form-label">Username</div> <input type="text" name="username" required placeholder="E-Mail">
        <div class="form-label">Password</div> <input type="password" name="password" required>
  </div>
        <div id="submit-btn-id"><button id="submit-btn" name="submit" >LOGIN</button></div>

    </form> -->
 <div class="card-panel teal lighten-1"><h3>Login page</h3><br>
 <input type="text" name="fname" placeholder="Email Id">  
 <input type="password" name="password" placeholder="PASSWORD">     
<input type="button" value="Login" (click)="Login()"/> 

<li><a routerLink="/signup">  New User </a></li></div>