<nav>
  <div class="nav-wrapper">
    <a href="/home" class="brand-logo center">MoBiCarT <i class="large material-icons">phone_android</i></a> 
    <a href="#!" class="brand-logo right"><h5>Logout</h5></a>
    <ul class="left hide-on-med-and-down">
        <li><a routerLink="/home">HOME</a></li>
        <li><a routerLink="/home/mobi">MobiMobiles</a></li>
        <li><a routerLink="/home/new">Add Mobiles</a></li>
      <li><a routerLink="/home/view">DisplayMobiles</a></li>
      <li><a routerLink="/home/dele">Cart</a></li>
      
      
      <a class="btn-floating btn-medium cyan pulse"><i class="material-icons"><a href="/home/mobi">phone_android</a> </i></a>
      
    </ul>
  </div>
</nav>
