
<!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="../../assets/images/samsung A50.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Samsung A50</h2>
            <p>Samsung Galaxy A50 (Blue, 4GB RAM, 64GB Storage) ₹ 16,999, Display
              6.40-inch (1080x2340),
              Front Camera
              25MP,
              Rear Camera
              25MP + 5MP + 8MP,
              RAM
              4GB,
              Storage
              64GB,
              Battery Capacity
              4000mAh,
              OS
              Android Pie</p>
            <p><a class="btn btn-secondary" href="#" role="button">Add to cart &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="../../assets/images/vivio v17.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Vivo v17</h2>
            <p>Price:	₹ 27,990.00 iView Display, 32MP Super Clear Camera, 48MP AI Quad Rear Camera and Ultra Stable Video! Dual-Engine Fast Charging. Super Wide-Angle Camera. 20:9 E3 Super AMOLED.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Add to cart &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="../../assets/images/redmi 7pro.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Redmi 7pro</h2>
            <p>Mi Note 7 Pro (Neptune Blue, 64GB, 6GB RAM)Price:	₹ 12,349.00,64GB, 6GB RAM
              48MP - f1.79, 1.6micrometer (4-in-1), 5MP - f2.2,</p>
            <p><a class="btn btn-secondary" href="#" role="button">Add to cart &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="../../assets/images/iphone 7.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>I phone 7</h2>
            <p>90Hz refresh rate AMOLED display. OnePlus 7 Pro comes in three RAM and storage variants of 6GB + 128GB, 8GB + 256GB and 12GB + 256GB and are priced at Rs 48,999, Rs 52,999 and Rs 57,999 respectively.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Add to cart &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="../../assets/images/moto g6.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Moto g6</h2>
            <p>Moto G6 (Indigo Black, 64 GB)  (4 GB RAM) price ₹10,000</p>
            <p><a class="btn btn-secondary" href="#" role="button">Add to cart &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="../../assets/images/nokia 7.2.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Nokia 7.2</h2>
            <p>Nokia
              Nokia 7.2 64 GB (Charcoal)₹16479 6 GB RAM, Dual SIM 4G6 GB RAM and 64 GB ROM (Expandable Upto 512 GB)
              6.3 inch (16 cm) FHD+ Display
              20 MP Front Camera and 48 MP + 8 MP + 5 MP Primary Camera
              3500 mAh</p>
            <p><a class="btn btn-secondary" href="#" role="button">Add to cart &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="../../assets/images/pocco f1.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>pocco f11</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Add to cart &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="../../assets/images/realme 5pro.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Add to cart &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="../../assets/images/f11 pro.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
           
        </div><!-- /.row -->

      
      